.code-container {
  padding: 20px;
  background-color: #333;
  color: white;
}

.state-name input {
  font-size: inherit;
  border: none;
  background: transparent;
  width: 100%;
  color: inherit;
  outline: none;
}
