.drag {
  height: 20px;
}

.drag > div {
  height: 20px;
  width: 20px;
  float: right;
}

.drag::after {
  content: '';
  clear: both;
  display: table;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
