.handles {
  position: absolute;
}

.resizable-content {
  overflow: hidden;
}

.top-left {
  float: left;
  width: 10%;
  height: 10px;
}

.top-middle {
  height: 10px;
  width: 80%;
  float: left;
}

.top-middle:hover {
  cursor: n-resize;
}

.top-right {
  height: 10px;
  width: 10%;
  float: right;
}

.top-right:hover {
  cursor: ne-resize;
}

.top-left:hover {
  cursor: nw-resize;
}

.left {
  float: left;
}

.left:hover {
  cursor: w-resize;
}

.right {
  float: right;
}

.right:hover {
  cursor: e-resize;
}

.bottom-left {
  float: left;
  width: 10%;
  height: 10px;
}

.bottom-left:hover {
  cursor: sw-resize;
}

.bottom-middle {
  height: 10px;
  width: 80%;
  float: left;
}

.bottom-middle:hover {
  cursor: s-resize;
}

.bottom-right {
  height: 10px;
  width: 10%;
  float: right;
}

.bottom-right:hover {
  cursor: se-resize;
}

/* .handles > div {
    background-color: black;
} */

.clear {
  clear: both;
}
